{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-unused-vars": [0],
    "import/extensions": [0],
    "import/no-unresolved": [0],
    "class-methods-use-this": ["error", {"exceptMethods": ["componentWillMount", "componentDidMount"]}],
    "no-console": [0],
    "no-confusing-arrow": ["error", {"allowParens": true}]
  },
  "globals": {
        "localStorage": true,
        "sessionStorage": true,
        "window": true,
        "document": true,
        "google": true
    }
}